body {
    font-family:'Times New Roman', Times, serif ;
}

.container3 {
    color: rgb(23, 13, 13);
      display: flex;
      text-align: center;
      align-items:center;
      font-size: 18px;
      padding-left: 250px;
  }
  .container4 {
    color: rgb(23, 13, 13);
      display: flex;
      text-align: center;
      align-items:center;
      font-size: 18px;
  
  }
  .centered-h2{
text-align: center;
margin-bottom: 30px;

}

  .card-deck {
      width: 100%;
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
      flex-wrap: wrap;
     
  }
  .card {
      flex: 0 0 auto;
      margin-bottom: 30px;
      width: calc(33.3333% - 20px);
  }
  .card:hover {
border-color: #a6a8aa;
transition: box-shadow .1s, border-color 1s ;
box-shadow: 0 0 10px 2px #a6a8aa;
}


  /* Style for the right arrow */
.swiper-button-next {
/* Existing styles */
cursor: pointer;
/* Additional styles for the right arrow */
/* For example: */
color: red; /* Change the color to red */
font-size: 24px; /* Increase the font size */
position: absolute;
      top: 50%;
      width: 27px;
      height: 27px;
      margin-top: -13.5px;
      z-index: 10;
     
      background-size: 27px 27px;
      background-position: center;
      background-repeat: no-repeat;
}



/* Style for the left arrow */
.swiper-button-prev {
/* Existing styles */
cursor: pointer;
/* Additional styles for the left arrow */
/* For example: */
color: red;  /* Change the color to blue */
font-size: 24px; /* Increase the font size */
position: absolute;
      top: 50%;
      width: 27px;
      height: 27px;
      margin-top: -13.5px;
      z-index: 10;
     
      background-size: 27px 27px;
      background-position: center;
      background-repeat: no-repeat;
}

  .swiper-pagination {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 10px;
      z-index: 10;
      text-align: center;
  }
  .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      display: inline-block;
      border-radius: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      margin: 0 5px;
      cursor: pointer;
  }
  .swiper-pagination-bullet-active {
      background-color: #2828b4;
  }
