/* EmailOtp.css */
.ContainerE {
    background-image: url('D:\react2\client\my-app\src\pages1\Images\Backdrop1.avif');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .ContainerE h8 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
  }
  
  .ContainerE form {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .ContainerE label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
  }
  
  .ContainerE input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .ContainerE button {
    width: 50%;
    padding: 10px;
    background-color: #f52234;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
margin-left: 100px;
  }
  
  .ContainerE button:hover {
    background-color: #ee1212;
  }
  
  .ContainerE p {
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
  