/* Otpcss.css */
.background-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url('D:\react2\client\my-app\src\pages1\Images\kitchen.avif') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
  }
.otp-containero {
    background-color: white;
    
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    top: 50%;
    right: 450px;
    transform: translateY(-50%);
  }
  
  .otp-headero h2 {
    color: #3b82f6;
  }
  
  .otp-inputo {
    margin: 20px 0;
  }
  
  .otp-inputo input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
  }
  
  .otp-buttono {
    background-color: #f01221;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
    margin-right: 40px;
  }
  
  .otp-buttono:hover {
    background-color: #2563eb;
  }
  