/* Contact.css */
.carousel-image {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
  
  .headingst {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    color: #333;
  }
  
  .headingst span {
    color: #f52234;
  }
  
  .containerst {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .contact-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
  }
  
  .contact-box .left {
    flex: 1;
    margin-right: 20px;
  }
  
  .contact-box iframe {
    width: 600px; /* Increased width */
    height: 600px; /* Increased height */
    border: 0;
  }
  
  @media (max-width: 768px) {
    .contact-box {
      flex-direction: column;
    }
  
    .contact-box .left {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .contact-box iframe {
      width: 100%;
      height: 400px; /* Adjusted height for smaller screens */
    }
  }
  