.card-columns {
    column-count: 3;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1rem;
  }
  
  .blockquote {
    margin-bottom: 0;
  }
  
  blockquote p {
    font-size: 1rem;
  }
  
  blockquote footer {
    font-size: 0.875rem;
  }
  